<% layout('./layouts/boilerplate') -%>
<div class="col-8 offset-2 mt-4">
    <body>
    <form method="post" action="/listing/<%=data._id%>/edit?_method=put" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
             <input type="text" class="form-control" placeholder="Enter catchy title" value="<%=data.title%>" name="title" required/>
             <div class="invalid-feedback">Title is required</div>


        </div>
       
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
             <textarea name="description" placeholder="Describe your listing" required class="form-control"><%=data.description%></textarea>
              <div class="invalid-feedback">Description is required</div>
        </div>
         <label for="img" class="form-label">Original Image</label>
          <div class="mb-3">
            
             <img id="img" style="width:200px;height: 100px;"src="<%=data.image.url%>" alt="listing">
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Chose another image</label>
             <input type="file" id="image" class="form-control"  name="image" required/>
        </div>
       
        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input type="number"  class="form-control" placeholder="eg 1200" value="<%=data.price%>" name="price" required/>
             <div class="invalid-feedback">Price is required</div>
        </div>
        <div class="row">
            <div class="mb-3 col-4">
            <label for="location" class="form-label">Location</label>
            <input type="text" class="form-control" required placeholder="ratnagiri,Maharastra" value="<%=data.location%>" name="location"/>
             <div class="invalid-feedback">Location is required</div>
        </div>
        <div class="mb-3 col-8">
            <label for="country" class="form-label">Country</label>
            <input type="text"  class="form-control" required placeholder="India" value="<%=data.country%>" name="country"/>
             <div class="invalid-feedback">Country is required</div>
        </div>
       </div>
         
        <button class="btn btn-danger">ADD</button>
        <a style="margin-left:0.5rem;" href="/listing/<%=data._id%>/edit"><button class="btn btn-primary">BACK</button></a>
        <br><br>
    </form>
    
</body>

</div>
