<% layout('./layouts/boilerplate') -%>
<body>
  <script>
  const Cord = JSON.parse('<%= JSON.stringify(data.coordinates || {}) %>');
</script>



<div class="row">
      <div class='show-section'>
          <div class="card show-card" style="width: 18rem;">
              <h4 class="mt-2 mb-2"><%=data.title%></h4>  
              <img src="<%=data.image.url%>" class="card-img-top" alt="listing">
              <div class="card-body show-card-body">
                  <p style="margin-right:0;"><i>Owned by- <b><%=data.owner.username%></b></i></p>
                  <p class="card-price">&#x20B9 <%=data.price.toLocaleString("en-Un")%>/night</p>
                  <p class="show-card-text"><%=data.description%></p>
                  <p class="show-card-location"><i><b><%=data.location%>,<%=data.country%></b></i></p>
                   <%if(data.owner.equals(user._id)){%>
                    <div class="show-card-btn">
                        <a href="/listing/<%=data.id%>/edit" class="btn btn-danger">Edit</a>
                        <form method="post" action="/listing/<%=data._id%>?_method=delete"><button class="btn btn-dark">Delete</button></form>
                    </div>
                   <%}%>  
            
              </div>
          </div>
                <div class="review">
                 <br>
                    <h4>Leave your review</h4>
                   
                        <form method="post" action="/listing/<%=data.id%>/reviews" novalidate class="needs-validation">
                      <div>
                          <label for="rating" class="form-label">rating</label>
                          <fieldset class="starability-slot">
                            <input  type="radio" id="no-rate" class="input-no-rate" name="rating" value="1" checked aria-label="No rating." />
                            <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                            <label for="first-rate1" title="Terrible">1 star</label>
                            <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                            <label for="first-rate2" title="Not good">2 stars</label>
                            <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                            <label for="first-rate3" title="Average">3 stars</label>
                            <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                            <label for="first-rate4" title="Very good">4 stars</label>
                            <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                            <label for="first-rate5" title="Amazing">5 stars</label>
                          </fieldset>
                      </div>

                      <div>
                        <label for="comment" class="form-label"></label>
                        <textarea id="comment" required name="review[comment]" rows="5" cols="30" class="form-control"></textarea>
                        <div class="invalid-feedback">enter some comment before submit</div>
                      </div>
                      <button class="btn btn-outline-dark mt-3">submit</button>
                    </form>           
                  </div>   
           
                  
           
          <%if(data.reviews.length>0){%>
            <hr style="margin-left: 25%;">
           <p style="margin-left: 25%;" >All reviews</p>
          <%}%>
          
          <div class="row row-cols-12">
                <% for(let r of data.reviews){%>
              <div class="col-6 card allReview" style="width:100%; border:1px solid black;height:13rem">
                <div class="card-body m-3">
                <h5 class="card-title"><i style="font-size: 2rem; margin-right: 0.5rem;"   class="fa-solid fa-circle-user"></i><i style="font-size: 1.5rem;"><%=r.author.username%></i></h5>
                 <p  class="starability-result" data-rating="<%=r.rating%>"></p>
                <p class="card-text"><%=r.comment%></p>
               <%if( r && r.author.equals(user._id)){%>
                   <form method="post" action="/listing/<%=data.id%>/reviews/<%=r.id%>?_method=delete"><button class="btn btn-dark">Delete</button></form>

                  <%}%>
                  </div>
               </div>
           <%}%>
          </div>
          

      </div>
      <h2 style="margin-left:20%;margin-top:1rem;">Where you'll be</h2>
      <div id="map"></div>
      <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""></script>
      <script src="/js/map.js"></script>
     
        
        
  </div>

  </body>
  
  




