<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wonderLust</title>
    <style>
        .ActionBtn{
            display: flex;
            
        }
        .btn{
            margin-left:1rem;
            width:5rem;
            height: 2rem;
            border-radius: 0.5rem;
        }
        
    </style>
</head>
<body>
    <div class="listing">
        <h3>Title:- <%=data.title%></h3>
         <p>description:<%=data.description%></p>
         <p>price:&#8377 <%=data.price.toLocaleString("en-UN")%></p>
         <p>location: <%=data.location%>,<%=data.country%></p>
         
    </div>
    <div class="ActionBtn">
       <div><a href="/listing/<%=data._id%>/edit"><button class="btn">edit</button></a></div>
       <div><form  method="post" action="/listing/<%=data._id%>?_method=delete"><button class="btn">delete</button> </form></div> 
    
    </div>
</body>
</html>